# .github/dependabot.yml
version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "tuesday"
      time: "08:00"
      timezone: "Europe/Oslo"
    cooldown:
      default-days: 7
      semver-major-days: 30
    open-pull-requests-limit: 15
    labels:
      - "dependencies"
    commit-message:
      prefix: "dependabot-bump"
      include: "scope"
    ignore:
      - dependency-name: "*"
        update-types:
          - "version-update:semver-major"
